<!-- <%- include('./header/header.ejs') %> -->
<!-- <link rel="stylesheet"  href="/stylesheets/loc_show.css"> -->

<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<link rel ="stylesheet" href = https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css>
<link rel="stylesheet" href="/stylesheets/stars.css">


<div class="container">
    <div class="row">
        <div class="col-6 ">
    
    
        <div id='map' style='width: 400px; height: 300px;'></div>
    
    
        <script>
            let loc = <%- JSON.stringify(locatie) %>
        </script>
        
        <script src="/js/map.js"></script>
        
    
        <h1>show</h1>
    
    
    </div>
    <div class="col-6">
        <% if((typeof(session)!=="undefined")){%>
        <h2>lasa un review</h2>
        <form  method="POST" action="/map/<%=locatie.id_locatie%>/reviews"  class="mb-3">
            <!-- <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div> -->
            <div class="mb-3">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
            </div>
           


            <div class="mb-3">
                <label class="form-label" for="body">Lasa o parere</label>
                <textarea class='form-control' name="review[body]" id="body" cols="30" rows="10"></textarea>
            </div>
            <input hidden value="<%=locatie.categorie%>" name="locatie_categorie">
            <button class="btn btn-success">Submit</button>
        </form>
    <%}%>
        <% for(let review of reviews) { %>
            <div class="card mb-3">
                <div class="card body ">
                    <h5 class="card-title"><%=review.nume%>-<%=review.prenume%></h5>
                    <!-- <p class="card-text">Rating: <%=review.rating %> </p> -->
                    
                    <p class="starability-result" data-rating="<%=review.rating %>">
                        Rated: <%=review.rating %> start1
                    </p>
                    <p class="card-text">comentariu: <%= review.comentariu %></p>
                    <% if(typeof(session)!=="undefined" && session===review.id_user) { %>
                    <form   action="/map/<%=locatie.id_locatie%>/reviews/<%=review.id_review%>" method="POST" >
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <%}%>
                </div>
            </div>
           
        <%} %>
    </div>
    
    </div>
</div>


